:root {
    --dark-color: #011627;
    --pink-color: #E63946;
    --light-color: #F1FAEE;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

.wrapper {
    width: 1152px;
    margin: 0 auto;
    /* background: rgb(128, 178, 180); */
}

nav {
    /* background-color: chocolate; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 42px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 30px;
}

nav ul li a {
    font-size: 16px;
    font-weight: bold;
    color: var(--dark-color);
    text-decoration: none;
}

nav ul li a.active {
    color: var(--pink-color);
}

a.btn {
    border-radius: 8px;
    padding: 8px 24px;
    font-weight: bold;
    text-decoration: none;
    transition: all 400ms;
}

a.btn.light {
    border: 1px solid var(--dark-color);
}

a.btn.light:hover {
    background: var(--dark-color);
    color: var(--light-color);
}

